html
    head
        title Team Coordinator
        link(href='/styles/Layout.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', rel='stylesheet')
        
    body
        header
            h1
                |Team Coordinator
        block content