extends BaseLayout

block content
    div(class="content")
        h2
            |ERROR
        - if (typeof(message) !== 'undefined'){
            | #{message}
        -}else{
            | Error message not found
        -}