extends BaseLayout

block content
    link(href='/styles/SendNote.css', rel='stylesheet')
    div(class='main')
        form(method='POST', action='/CreateNotification', class='notification')
            div(class='date')
                label(for='dateTime') Date and Time:
                input(type='datetime-local', name='dateTime', id='dateTime')
            div(class='message')
                label(for='message') Message:
                input(id='message', name='message')
            div(class='sendToPhone')
                input(type="checkbox", name='sendToPhone', id='sendToPhone')
                label(for='sendToPhone') Send to Phone?
            
            input(type='submit', value='Create Notification', class='submit')
            