extends BaseLayout

block content
    link(href='/styles/Homepage.css', rel='stylesheet')
    div(class="main")
        h2
            |Welcome to Team Coordinator
        br
        - if (typeof(message) !== 'undefined'){
            |#{message}
        -}else{
            |This website is still growing, and will soon function as a link between communication systems and teams, allowing users to speak to each other from many different platforms.
        -}