extends BaseLayout

block content
    link(href='/styles/ListContactRequests.css', rel='stylesheet')
    div(class='main')
        a(href='/CreateNotification' class='notificationCreate') Create a New Notification
        -if(typeof(list) !== 'undefined'){
            each item in list
                div(class='notificationDiv')
                    span(class='date')
                        |Date: #{item.date}
                    span(class='sent')
                        |Sent: #{item.sent}
                    br
                    span(class='message')
                        |Message: #{item.message}
        -}else{
            |#{message}
        -}