extends BaseLayout

block content
    div(class='main')
        -if(typeof(list) !== 'undefined'){
            each item in list
                |Date: #{item.date}
                |Message: #{item.message}
                |Sent: #{item.sent}
                br
        -}