extends BaseLayout

block content
    link(href='/styles/ListContactRequests.css', rel='stylesheet')
    div(class='main')
        -if(typeof(list) !== 'undefined') {
            each item in list
                div(class='requestDiv')
                    span(class='username')
                        |From: #{item.senderName} 
                    a(href='/ConfirmRequest?requestID=#{item._id}') Accept Request
                    a(href='/DenyRequest?requestID=#{item._id}') Deny Request
        -}