extends BaseLayout

block content
    link(rel='stylesheet', href='styles/SendNote.css')
    div(class="main")
        div(class='loginWrapper')
            form(method='POST', action='/Login', class='loginForm')
                div(class='usernameWrapper')
                    label(for='username' class='username') Username:
                    input(name='username', id='username', class='username')
                div(class='passwordWrapper')
                    label(for='password' class='password') Password:
                    input(name='password', id='password', type='password' class='password')
                input(type='submit', value='Log in', class='submit')