extends BaseLayout

block content
    link(href='/styles/SendNote.css', rel='stylesheet')
    div(class='main')
        form(method='POST', action='/SendNote', class='noteForm')
            div(class='recieverName')
                label(for='reciever') Note to:
                | #{recieverName}
                input(name='reciever', type='hidden', value='#{recieverName}')
                br
            div(class='subjectLine')
                label(for='subject') Subject:
                -if(typeof(subject) !== 'undefined'){
                input(name='subject', id='subject', value='#{subject}')
                -}else{
                input(name='subject', id='subject')
                -}
                br
            div(class='messageBox')
                label(for='message') Message:
                textarea(name='message', id='message', cols='300', rows='20')
                    -if(typeof(message) !== 'undefined'){
                    |#{message}
                    -}else{
                    |Enter your message here
                    -}
                br
            input(type='submit', value='Send Note', class='submit')