html {
    height: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgb(94, 88, 82);
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    max-height: 80px;
    min-height: 80px;
    border-bottom: 5px solid rgb(170, 157, 141);
}

header > h1{
    color: #E2D2BE;
}

div.content {
    background-color: rgb(226, 210, 190);
    flex: 1;
}

div.main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

div.main > h2 {
    margin: 0px;
}

ul.headerMenu {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

ul.headerMenu > li {
    display: inline;
}

ul.headerMenu > li > a:hover {
}

ul.headerMenu > li > a {
    font-size: 22px;
    text-decoration: none;
    padding: 0px 10px;
}