div.main {
    font-size: 16pt;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.requestDiv, div.contactDiv, div.notificationDiv, div.memberDiv, div.modDiv, div.ownerDiv {
    background-color: #C4B8A6;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
}

div.requestDiv span.username, div.requestDiv a, div.contactDiv span.username, div.contactDiv a, div.notificationDiv span, div.modDiv a, div.memberDiv a, div.ownerDiv a {
    color: #352C1F;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

div.requestDiv a:hover, div.contactDiv a:hover, div.modDiv a:hover, div.memberDiv a:hover, div.ownerDiv a:hover {
    background-color: #9E8D74;
}

div.requestDiv a, div.contactDiv a, div.modDiv a, div.memberDiv a, div.ownerDiv a{
    background-color: #AA9D8D;
}

a.notificationCreate {
    text-align: center;
    font-size: 18pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 150px;
    background-color: #5E5852;
    color: #E2D2BE;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    border: none;
}

a.notificationCreate:hover {
    background-color: #7C7268;
}